.game-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.pokemon-container{
    justify-content: center;
    margin: auto;
    text-align: center;
}
.pokemon-container:hover{
    cursor: pointer;
}

.pokemon-container img{
    width: 110px;
    background-color: rgb(2, 2, 253, 0.5);
}